**Import libraries**

In [6]:
import pandas as pd
import re
import numpy as np
from datetime import datetime

**Import dataset**

In [3]:
db=pd.read_csv('/content/HR_data_week3_new_final.csv')

**Data Transformation**

In [12]:
db.DOB.head(10)

0   1983-07-10
1   1975-05-05
2   1988-09-19
3   1988-09-27
4   1989-09-08
5   1977-05-22
6   1979-05-24
7   1983-02-18
8   1970-02-11
9   1988-01-07
Name: DOB, dtype: datetime64[ns]

In [8]:
0db['DOB'] = pd.to_datetime(db['DOB'], errors='coerce')
current_year = datetime.today().year

# Adjust DOB by subtracting 100 years if the year is in the future
db['DOB'] = db['DOB'].apply(lambda d: d - pd.DateOffset(years=100) if pd.notnull(d) and d.year > current_year else d)

In [13]:
# Today's date
today = pd.to_datetime('today')

# Calculate age correctly
db['Age'] = today.year - db['DOB'].dt.year
db['Age'] -= ((today.month < db['DOB'].dt.month) | ((today.month == db['DOB'].dt.month) & (today.day < db['DOB'].dt.day))).astype(int)

In [15]:
db.Age.head(20)

0     41
1     49
2     36
3     36
4     35
5     47
6     45
7     42
8     55
9     37
10    51
11    51
12    36
13    41
14    47
15    43
16    59
17    54
18    39
19    46
Name: Age, dtype: int64

In [ ]:
db.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [ ]:
db.dtypes

Employee_Name                  object
EmpID                           int64
MarriedID                       int64
MaritalStatusID                 int64
GenderID                        int64
EmpStatusID                     int64
DeptID                          int64
PerfScoreID                     int64
FromDiversityJobFairID          int64
Salary                          int64
Termd                           int64
PositionID                      int64
Position                       object
State                          object
Zip                             int64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction                 int64
SpecialProjectsCount            int64
LastPerformanceReview_Date     object
DaysLateLast30                  int64
Absences                        int64
dtype: object

In [ ]:
db.drop(['MarriedID','MaritalStatusID','GenderID'],axis=1,inplace= True)

In [ ]:
db.shape

(311, 33)

In [ ]:
db['DateofHire']=pd.to_datetime(db['DateofHire'])
db['DateofTermination']=pd.to_datetime(db['DateofTermination'])

In [ ]:

db['LastPerformanceReview_Date']=pd.to_datetime(db['LastPerformanceReview_Date'])

In [ ]:
db.fillna({'DateofTermination':0},inplace=True)

In [ ]:
db.isnull().sum()

Employee_Name                 0
EmpID                         0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [ ]:
db.fillna({'ManagerID':'nil'},inplace=True)

In [ ]:
# Step 1: Split by comma into Last and the rest
db[['LastName', 'FirstMiddle']] = db['Employee_Name'].str.split(',', n=1, expand=True)

# Step 2: Extract First and Middle (if exists)
db[['FirstName', 'MiddleName']] = db['FirstMiddle'].str.strip().str.extract(r'(\w+)\s*(\w*)')

# Step 3: Combine all in correct order: First Middle Last
db['SortedName'] = db.apply(
    lambda row: ' '.join(filter(None, [row['FirstName'], row['MiddleName'], row['LastName']])),
    axis=1
)

In [ ]:
db.head()

,Employee_Name,EmpID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,...,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,LastName,FirstMiddle,FirstName,MiddleName,SortedName
0,"Adinolfi, Wilson K",10026,1,5,4,0,62506,0,19,Production Technician I,...,5,0,1/17/2019,0,1,Adinolfi,Wilson K,Wilson,K,Wilson K Adinolfi
1,"Ait Sidi, Karthikeyan",10084,5,3,3,0,104437,1,27,Sr. DBA,...,3,6,2/24/2016,0,17,Ait Sidi,Karthikeyan,Karthikeyan,,Karthikeyan Ait Sidi
2,"Akinkuolie, Sarah",10196,5,5,3,0,64955,1,20,Production Technician II,...,3,0,5/15/2012,0,3,Akinkuolie,Sarah,Sarah,,Sarah Akinkuolie
3,"Alagbe,Trina",10088,1,5,3,0,64991,0,19,Production Technician I,...,5,0,1/3/2019,0,15,Alagbe,Trina,Trina,,Trina Alagbe
4,"Anderson, Carol",10069,5,5,3,0,50825,1,19,Production Technician I,...,4,0,2/1/2016,0,2,Anderson,Carol,Carol,,Carol Anderson

In [ ]:
db.drop('Employee_Name', axis=1, inplace=True)
cols = ['SortedName'] + [col for col in db.columns if col != 'SortedName']
db = db[cols]

In [ ]:
db.drop(['FirstMiddle','LastName','FirstName','MiddleName'], axis=1, inplace=True)

In [ ]:
db.head(10)

,Employee_Name,EmpID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Wilson K Adinolfi,10026,1,5,4,0,62506,0,19,Production Technician I,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,2019-01-17,0,1
1,Karthikeyan Ait Sidi,10084,5,3,3,0,104437,1,27,Sr. DBA,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17
2,Sarah Akinkuolie,10196,5,5,3,0,64955,1,20,Production Technician II,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3
3,Trina Alagbe,10088,1,5,3,0,64991,0,19,Production Technician I,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15
4,Carol Anderson,10069,5,5,3,0,50825,1,19,Production Technician I,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2016-02-01,0,2
5,Linda Anderson,10002,1,5,4,0,57568,0,19,Production Technician I,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,2019-01-07,0,15
6,Colby Andreola,10194,1,4,3,0,95660,0,24,Software Engineer,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,2019-01-02,0,19
7,Sam Athwal,10062,1,5,3,0,59365,0,19,Production Technician I,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2019-02-25,0,19
8,Linda Bachiochi,10114,3,5,3,1,47837,0,19,Production Technician I,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,2019-01-25,0,4
9,Alejandro Bacong,10250,1,3,3,0,50178,0,14,IT Support,...,Peter Monroe,7.0,Indeed,Fully Meets,5.00,5,6,2019-02-18,0,16

In [ ]:
db.rename(columns={'SortedName': 'Employee_Name'}, inplace=True)

In [ ]:
db['ManagerID'] = db['ManagerID'].astype(object)

**Productivity rate**

In [ ]:
perf_map = {
    'Exceeds': 4,
    'Fully Meets': 3,
    'Needs Improvement': 2,
    'PIP': 1
}
db['PerformanceScoreNum'] = db['PerformanceScore'].map(perf_map)

In [ ]:
db['ProductivityRate'] = (
    (0.4 * db['PerformanceScoreNum']) +
    (0.3 * db['EngagementSurvey']) +
    (0.2 * db['EmpSatisfaction']) +
    (0.1 * np.log1p(db['SpecialProjectsCount']))
) / (1 + db['Absences'] + db['DaysLateLast30'])

In [ ]:
db.head()

,Employee_Name,EmpID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,...,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,PerformanceScoreNum,ProductivityRate
0,Wilson K Adinolfi,10026,1,5,4,0,62506,0,19,Production Technician I,...,LinkedIn,Exceeds,4.60,5,0,2019-01-17,0,1,4,1.990000
1,Karthikeyan Ait Sidi,10084,5,3,3,0,104437,1,27,Sr. DBA,...,Indeed,Fully Meets,4.96,3,6,2016-02-24,0,17,3,0.193477
2,Sarah Akinkuolie,10196,5,5,3,0,64955,1,20,Production Technician II,...,LinkedIn,Fully Meets,3.02,3,0,2012-05-15,0,3,3,0.676500
3,Trina Alagbe,10088,1,5,3,0,64991,0,19,Production Technician I,...,Indeed,Fully Meets,4.84,5,0,2019-01-03,0,15,3,0.228250
4,Carol Anderson,10069,5,5,3,0,50825,1,19,Production Technician I,...,Google Search,Fully Meets,5.00,4,0,2016-02-01,0,2,3,1.166667

In [ ]:
db['DateofHire'] = pd.to_datetime(db['DateofHire'])
db['DateofTermination'] = pd.to_datetime(db['DateofTermination'], errors='coerce', format='%m-%d-%Y')

# Fill missing termination dates (those still employed) with today's date
db['DateofTermination'] = db['DateofTermination'].fillna(pd.to_datetime('today'))

In [ ]:
db['EmploymentDuration_Days'] = (db['DateofTermination'] - db['DateofHire']).dt.days

# Optionally, calculate the gap in years
db['EmploymentDuration_Years'] = db['EmploymentDuration_Days'] / 365

In [ ]:
# Convert DOB column to datetime (if not already converted)
#db['DOB'] = pd.to_datetime(db['DOB'], errors='coerce')

In [ ]:
db.head(10)

NameError: name 'db' is not defined

In [16]:
db.to_csv("HR_data_week3_finalsheet.csv", index= False)
from google.colab import files
files.download('HR_data_week3_finalsheet.csv')